# IDE
.idea
.vscode

# Local machines
.DS_Store

# Docker database
db_data

# Node modules
*node_modules
www/package.json

# builds from the dist directory
www/dist/

# env files
www/.env*
!www/.env.example

# images
www/src/img/posters/
www/src/img/vip/
www/src/img/other/