// PAGE : http://localhost:8080/connexion

.grid-connection-user {

    .input{
        background: #FFFFFF;
    }

    & * {
        line-height: 20px;
    }

    display: grid;
    height: 100vh;
    grid-template-columns: 1fr [middle-column]30% 1fr;
    

    .grid-form-connection-user {
        grid-area: middle-column;
    }

    .title-form-h2 {
        font-family: $mulish;
        color: $title-form;
        text-align: center;
        margin: 10px 0px 10px 0px;
    }

    a{
        font-family: $mulish;
        font-size: 16px;
        font-weight:normal;
        color: $purple2;
    }

    .container-form {

        form {
            display: grid;
            height: 100%;
            grid-template-columns: 1fr;
            margin: 0px 40px 10px 40px;
            grid-row-gap: 10px;

            input[type=submit] {
                
            }

            /* not working yet */
            /*#email::after {
                //content: "\f0e0";
                font-family: "Font Awesome 5 Free";
                font-weight: 400;
                content: "\f0e0";
            }*/
        }
    }

    .links {
        padding-top: 20px ;
        display: grid;
        height: 100%;
        grid-template-columns: 1fr;
        margin: 0px 40px 10px 40px;
    }
}

