// PAGE : http://localhost:8080/s-inscrire


* {
    line-height: 20px;
}

.grid-register-user {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr [middle-column] 2fr 1fr;
    grid-template-rows: auto;
    //grid-gap: 30px;
    //margin: 0px 20px;
    //grid-template-areas:    "header header"
    //                        "section1 section2"
    //                        "section3 section3"
    //                        "btn-section btn-section";

    .grid-form-register-user {
        grid-column-start: middle-column;
    }
    .title {
        font-family: $mulish;
        font-style: normal;
        font-size: 30px;
        font-weight: normal;

        letter-spacing: 0.3px;
        color: $purple2;
        text-align: center;
        margin-bottom: 30px;
        text-transform: none;
        line-height: 20px;
    }

    .title-form {
        font-family: $mulish;
        color: $grey6;
        text-align: center;
        margin: 20px 0px 30px 0px;
    }

    a{
        font-family: $mulish;
        $font-size: 16px;
        $font-weight:normal;
        color: $purple;
    }

    .container-form {

        form {
            display: grid;
            height: 100%;
            grid-template-columns: 1fr;
            grid-gap: 5px;
            margin: 0px 40px 10px 40px;

            select {
                background-color: $grey3;
            }
        }

    }


}

