.upload-medias-container {
    width: 100%;
    height: 153px;
    left: 206px;
    top: 266px;

    background: #F7FAFC;
    border-radius: 5px;
    border: 3px solid $purple-light;
}

.hiddenInputFile {
    // to keep it in the browsers
    width: 0.1px;
    height: 0.1px;

    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + .btn {
        cursor: pointer; /* "hand" cursor */
    }
}
