#dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 1rem;

  #articles {
    #articlesList {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .articleCard {
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        margin-bottom: 10px;
        border: 1px solid rgba(227, 227, 227, 0.5);
        box-shadow: 1px 6px 20px -4px rgba(17, 17, 17, 0.1);
        line-height: 1.5;
        align-items: center;
        height: 60px;
        padding: 15px;

        .articleInfos {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          overflow: hidden;

          .articleTitle {
            font-weight: bolder;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }

        .articleActions {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin-left: 5px;
          align-items: center;

          .comments {
            display: flex;
            flex-wrap: nowrap;
            margin-right: 15px;

            i {
              font-size: 20px;
              color: $purple;
              margin-right: 5px;
            }

            .commentsNb {
              position: relative;
              top: 10px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  #comments {
    #commentsList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .commentCard {
        display: flex;

        border: solid $grey4 1px;
        border-radius: 8px;
        margin-bottom: 10px;
        border: 1px solid rgba(227, 227, 227, 0.5);
        box-shadow: 1px 6px 20px -4px rgba(17, 17, 17, 0.1);
        line-height: 1.5;
        align-items: center;
        height: 60px;
        padding: 15px;

        .userPicture img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-color: #dfe0eb;
          border-style: solid;
          border-width: 2px;
          padding: 1px;
          cursor: pointer;
        }

        .commentDetails {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 10px;
          flex-wrap: nowrap;
          overflow: hidden;

          & > * {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .username {
            font-weight: bolder;
            margin-right: 20px;
          }

          .articleTitle {
            font-size: smaller;
            color: $grey7;
          }
        }

        .actionsMenu {
          margin-left: auto;
          padding-left: 10px;
        }
      }
    }
  }

  #productions {
    #productionsList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding-bottom: 1rem;

      .productionCard {
        border: solid $grey4 1px;
        border-radius: 8px;
        margin-bottom: 5px;
        border: 1px solid rgba(227, 227, 227, 0.5);
        box-shadow: 1px 6px 20px -4px rgba(17, 17, 17, 0.1);
        display: flex;
        flex-direction: column;
        width: 130px;
        align-items: center;
        justify-content: center;

        .productionName {
          text-align: center;
          padding: 5px;
          overflow-wrap: anywhere;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 35px;
        }
        .productionImg {
          border-radius: 8px 8px 0 0;
          width: 130px;
          min-height: 195px;
          align-items: center;
          display: flex;
          justify-content: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;

          img {
            width: 100%;
            border-radius: 8px 8px 0 0;
          }
        }
      }
    }
  }

  #statistics {
    #statisticsList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding-bottom: 3rem;

      .statisticsCard {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 200px;
        padding-top: 2rem;
        padding-bottom: 2rem;

        margin-right: 1rem;
        border-radius: 10px;
        margin-bottom: 5px;
        border: 1px solid rgba(227, 227, 227, 0.5);
        box-shadow: 1px 6px 20px -4px rgba(17, 17, 17, 0.1);

        .title {
          text-overflow: ellipsis;
          padding: 0rem 1rem 0rem 1rem;
          text-align: start;
          font-size: 0.8rem;
        }

        .stat {
          font-weight: bolder;
          font-size: 24px;
        }
      }
    }
  }

  .card {
    flex-grow: 1;
    min-width: 400px;
    width: 3rem;
    min-height: 400px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .cardTitle {
      font-weight: 700;
      margin-bottom: 10px;
      padding-bottom: 1rem;
    }

    p {
      text-align: center;
    }

    .linkButton {
      margin-top: auto;
      text-align: right;
    }
    .linkButtonElse {
      text-align: right;
      margin-top: 20rem;
    }
  }
}
