.grid-article {
  position: relative;
  display: grid;
  height: 80vh;
  grid-template-columns: 6fr 2fr;
  grid-template-rows: 300px 3fr min-content;
  column-gap: 10px;
  row-gap: 5px;
  grid-template-areas:
    "cover cover"
    "article production"
    "comments comments";

  .cover {
    position: relative;
    grid-area: cover;
    // background: red;

    img {
      object-fit: cover;
      width: 100%;
      //   height: 100%; does not work on Chrome wtf
      height: 300px;
    }
  }

  .article {
    grid-area: article;
    // background: blue;

    &__title {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    &__author {
      display: inline-block;
      margin-bottom: 0.5rem;
    }

    &__tags {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      &__category {
        @extend %flex-center;
        margin: 0.5rem 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 100px;
        border: $white 2px solid;
        color: $white;
        font-weight: bold;

        &:nth-child(1) {
          margin-left: 0;
        }

        &:nth-child(2n) {
          background-color: $orange;
        }

        &:nth-child(2n + 1) {
          background-color: $purple4;
        }
      }
    }
  }

  .production {
    grid-area: production;
    display: flex;
    flex-flow: column;

    &__image {
      background: black;
      width: 100%;
      height: 300px;
    }
  }

  .comments {
    grid-area: comments;
    display: flex;
    flex-flow: column;
  }
}

.comment {
  display: grid;
  height: auto;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 10px;
  grid-template-areas:
    "profile-picture title"
    "profile-picture content";
  padding: 1rem 2rem;
  margin: 1rem 0;

  &__profile-picture {
    grid-area: profile-picture;
    width: 100px;
    height: 100px;
    border-radius: 90px;
    border: 2px $grey3 solid;
  }

  &__title {
    grid-area: title;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: $grey6;
  }

  &__content {
    grid-area: content;
    border-radius: 12px;
    padding: 0.5rem;
    background: $grey3;
    color: $light-grey;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  }
}

.new-comment {
  border-radius: 12px;
  border: none;
  padding: 0.5rem;
  margin-top: 1rem;
  background: $grey3;
  color: $light-grey;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

  resize: none;
  overflow: auto;
  font-style: $mulish;
}

.sized-btn {
  width: min-content;
}

.test-comment,
textarea-comment {
  transition: all 0.3s ease;

  opacity: 0;
  height: 0px;
}

.test-comment {
  margin-bottom: 2rem;
}

.toggled {
  opacity: 1;
  height: 200px;
}

.add-btn {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 100px;
  background: $white;
  color: $purple2;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 100%;
  margin-left: 1rem;

  &::before {
    @extend %absolute-preset;
    @extend %absolute-center;
    height: 60%;
    width: 3px;
    background: $purple2;
    transform: translateY(-50%) rotate(0deg);
    transition: all 0.4s ease;
  }

  &::after {
    @extend %absolute-preset;
    @extend %absolute-center;
    height: 3px;
    width: 60%;
    background: $purple2;
    transform: translateX(-50%) rotate(0deg);
    transition: all 0.4s ease;
  }

  &:hover {
    &::before {
      transform: translateY(-50%) rotate(360deg);
    }

    &::after {
      transform: translateX(-50%) rotate(-360deg);
    }
  }
}

#add-btn {
  cursor: pointer;
}

.title-btn {
  display: flex;
  align-items: center;
}

.article-list {
  display: flex;
  flex-flow: column;
  margin-top: 2rem;
}

.grid-article-card {
  display: grid;
  height: 15rem;
  grid-template-columns: 1.5fr 3fr;
  grid-template-rows: min-content 1fr min-content;
  column-gap: 10px;
  grid-template-areas:
    "cover title"
    "cover description"
    "cover author";
}

.article-card {
  color: black;
  background: $card-background-color;
  border-radius: 8px;
  border-width: 1px;
  border-color: $card-border;
  box-shadow: 1px 6px 20px -4px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;

  &__cover {
    grid-area: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 8px 0 0 8px;
  }

  &__title {
    margin-top: 0.75rem;
    grid-area: title;
    font-size: 2rem;
    font-weight: bold;
  }

  &__description {
    grid-area: description;
    margin-top: 1.25rem;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: normal;
  }

  &__author {
    grid-area: author;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    margin-right: 10px;
  }

  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.015);
  }
}
