#login-subscription {
    min-width: 265px;
    max-width: 500px;
    width: 50%;
    margin: auto;
    line-height: 1.5;
    list-style: none;

    #form_register {
        input {
            margin-bottom: 20px;
        }
    }
}
