.banner{
	width: 100%;
	padding-top: 42%;
	@include bg-cover;
	position: relative;
	color: $white;
	&--text{
		& .bg{
			background-color: rgba(0,0,0,0.4);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			& p{
				font-size: 3rem;
			}
		}
	}
}