.bubble-actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &::after {
        content: '\2807';
        font-size: 25px;
        color: $purple;
        transition: all .3s ease;
    }

    &:hover {
        cursor: pointer;
    }

    &.active {
        &::after {
            transform: rotate(90deg) translate(3px, 3px);
        }
        .actionsDropdown {
            visibility: visible;
            opacity: 1;
        }
    }

    .actionsDropdown {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 50px;
        background-color: #f1f1f1;
        min-width: 120px;
        overflow: auto;
        box-shadow: 0 8px 16px 0 rgba(95, 46, 234,0.3);
        z-index: 1;
        transition: visibility .2s, opacity 0.2s linear;

        a {
            color: black;
            padding: 10px 10px;
            display: block;
            &:hover {
                background-color: rgba(95, 46, 234,0.3);
            }
        }
    }
}