.btn {
    // display: flex;
    // align-items: center;
    border-radius: 45px;
    background-color: $button-bg;
    color: $button-font-color;
    font-family: $poppins;
    font-weight: semibold;
    border-style: none;
    box-shadow: 0px 2px 4px 0px $button-shadow-color;
    transition: all 0.3s ease-out;
    padding: 0.5rem 2rem;
    // min-width: 10rem;
    cursor: pointer;

    &:hover {
        background-color: $button-hover-color;
    }

    &:active {
        transform: scale(1.1);
    }

    // IDEA, but not the priority

    /*
    <button class="btn btn-remove">
        <i class="fas fa-chevron-right"></i>
            Supprimer
        <i class="fas fa-chevron-left"></i>
    </button>
    */

    // & i:nth-of-type(1) {
    //     // transform: translateX(-200%);
    //     left: -150%;
    //     // color: $transparent;
    //     color: yellow;
    // }

    // & i:nth-of-type(2) {
    //     // transform: translateX(200%);
    //     right: 150%;
    //     // color: $transparent;
    //     color: yellow;
    // }

    // &:hover {
    //     & i:nth-of-type(1) {
    //         transform: translateX(100%);
    //         color: $white;
    //     }

    //     & i:nth-of-type(2) {
    //         transform: translateX(-100%);
    //         color: $white;
    //     }
    // }

    // Others alternatives
    &.btn--remove {
        background-color: $button-remove-bg;

        &:hover {
            background-color: $button-remove-hover-color;
        }
    }

}


