.dropdown {
  &:hover {
    transition: 2.5s;
    z-index: 40;
  }
  .dropdown-button {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 40;
    top: 4.5rem;
    transform: translate(-70%, 0);

    & > a {
      color: black;
      padding: 9px 15px;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: $purple-light;
        color: whitesmoke;
        transition: 0.2s;
        z-index: 40;
      }
    }
  }
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 40;
}
