.button{
	text-decoration: none;
	border: none;
	outline: none;
	padding: 1em 2em;
	display: inline-block;
	background-color: $grey;
	color: $white;
	transition: all 0.3s;
	@media screen and (max-width: $phone-width){
		font-size: rem(14);
	}
	&:hover{
		background-color: lighten($grey, 10%);
	}
	&--success{
		background-color: $green;
		&:hover{
			background-color: lighten($green, 10%);
		}
	}
	&--alert{
		background-color: $red;
		&:hover{
			background-color: lighten($red, 10%);
		}
	}
}
