.dataTables_wrapper {
    font-family: $mulish;
    font-size: 14px;
    border: 1px solid #DFE0EB;
    border-radius: 8px;

    #tableHeader {
        display: flex;
        justify-content: space-between;
        background-color: white;
        margin-bottom: 20px;
        padding: 5px;
        border-radius: 8px;

        & * {
            height: max-content;
        }

        .dataTables_filter {
            width: 35%;
            background-color: #E7E9F3;
            border: solid $transparent 5px;
            height: max-content;
            border-radius: 4px;
            transition: border 0.3s ease;
            
            display: flex;
            justify-items: center;

            // label {
            //     display: none;
            // }

            i {
                display: block;
                color: $purple;
                margin-right: 5px;
                transform: translateY(25%);
                margin-left: 0.5rem;
            }

            input {
                border: none;
                width: 100%;
            }

            &:focus-within {
                border-color: $search-bar-icon-color;
            } 
        }
    }

    .dataTable {
        background-color: white;
        // padding: 10px;
        // border: 2px solid #DFE0EB;
        // border-radius: 20px;
        border-radius: 8px 8px 0 0;

        &.no-footer{
            border: none;
        }

        thead {
            background-color: white;
            border: 1px solid $white2;
            font-weight: 700;
            color: $grey6;
            font-size: 14px;
            tr {
                height: 20px;

                th {
                    border: none;
                }
            }
        }

        tbody {

            // .odd, .even {
                // background: white !important;

                // &:hover {
                //     background: $purple-light;
                // }
            // }

            tr td {
                text-align: center;
                font-size: 12px;
                // background: yellow;
                // display: block;
                position: relative;
            }



        }




        tr {
            height: 75px;
        }

        td {
            vertical-align: middle;
            // display: flex;
            // flex-flow: column;
            // justify-content: center;
            // align-items: center;

            & > * {
                // dispslay: block;
            };
        }
    }

    .table-footer {
        display: flex;
        justify-content: end;
        background: $pure-white;
        padding: 1rem 0;
        border-radius: 0 0 8px 8px;

        #datatable_paginate {
            .paginate_button {
                border: none
            }
        }
        
        #datatable_info {
            font-size: 14px;
            font-weight: 200;
            color: $grey6;
            letter-spacing: 0.3px;
        }
    }

    &::after {
        display: none !important;
    }


}



