#tableActions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
  margin-top: 1rem;

  .buttons {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
}

.dataTables_wrapper {
  font-family: $mulish;
  font-size: 14px;
  margin-bottom: 30px;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  margin-top: 2rem;
  z-index: 1;

  #tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 20px;
    padding: 5px 1rem;
    border-radius: 8px;

    & * {
      height: max-content;
    }

    #datatable_length select {
      border: solid $transparent 2px;
      transition: border 0.3s ease;
      text-align-last: center;
      &:hover {
        border-color: $purple;
      }
    }

    .dataTables_filter {
      width: 35%;
      background-color: #e7e9f3;
      border: solid $transparent 2px;
      height: max-content;
      border-radius: 4px;
      transition: border 0.3s ease;
      display: flex;
      justify-items: center;

      position: relative;

      i {
        display: block;
        color: $purple;
        margin-right: 5px;
        margin-left: 0.5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      label {
        width: 100%;
      }

      input {
        border: none;
        width: 100%;
        font-size: 14px;
        margin-left: 2rem;
        padding-right: 2.5rem;
      }

      &:focus-within {
        border-color: $purple;
      }
    }
  }

  .dataTable {
    background-color: white;
    border: 2px solid #dfe0eb;
    border-radius: 8px 8px 0 0;

    &.no-footer {
      border: none;
    }

    thead {
      background-color: white;
      border: 1px solid $white2;
      font-weight: 700;
      color: $grey6;
      font-size: 14px;
      tr {
        height: 20px;

        th {
          border: none;
        }
      }
    }

    tbody {
      tr td {
        font-family: inherit;
        text-align: center;
        font-size: 14px;
        position: relative;
      }
    }

    tr {
      height: 75px;
    }

    td {
      vertical-align: middle;
    }
  }

  #tableFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $pure-white;
    padding: 1rem 1rem;
    border-radius: 0 0 8px 8px;

    font-size: 14px;
    font-weight: 200;
    color: $grey6;
    letter-spacing: 0.3px;

    #datatable_info {
      padding: 0;
    }

    a.paginate_button {
      padding: 0.2em 0.5em;

      &.current {
        border: 1px solid $purple;
      }
    }
  }
}
