#footer-front {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin-bottom: -2rem;
  padding-left: 8rem;
  padding-right: 8rem;

  height: 10rem;
  background-color: #000d28;
  padding-top: 2rem;
  padding-bottom: 2rem;

  img {
    height: 5rem;
    object-fit: cover;
  }

  .path-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    a {
      text-decoration: none;
      color: whitesmoke;
      border: solid 2px #000d28;
      border-radius: 50px;
      padding: 0.5rem;

      &:hover {
        transition: 0.3s ease-in-out;
        border: solid 2px $blue;
      }
    }
  }
}
