#footer-front {

    position: absolute;
    display: flex;
    bottom: 0;
    height: 4rem;
    width: 100%;
    background-color: $purple4;

    .logo-section {

        


    }

    .path-section {
        height: 100%;
    }

}