// Alignment of the viewport 

.grid {
    display: flex;
}

.grid .main-content {
    flex-basis: 100%;
}

// Alignement of the main content 

.main {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 100%;
    height: 100%;
    padding: 0 2rem;

}

// GRIDS per pages

// MODIFIIER UN ARTICLE 

.grid-modify-article {
    display: grid;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 1fr 2fr;
    grid-gap: 20px;
    grid-template-areas:    "header header"
                            "section1 section2"
                            "section3 section3";

    & header {
        grid-area: header;
    }

    & section:nth-of-type(1) {
        grid-area: section1;
    }

    & section:nth-of-type(2) {
        grid-area: section2;
    }

    & section:nth-of-type(3) {
        grid-area: section3;
    }
}