// A DISCUTER
// On peut utiliser le style de la search-bar pour les inputs
// Sinon ça fait moche d'avoir un seul input différent des autres :/
// .input {
//     display: inline-block;
//     font-family: $mulish;
//     font-size: 18px;
//     border-radius: 5px;
//     border-style: solid;
//     border-width: 1px;
//     border-color: C2C2C2;
//     box-shadow: 0px 3px 5px 0px lighten(black, 80%);
// }

.input {
  //Input
  display: inline-block;
  background: #e7e9f3;
  height: 41px;
  border: 1px solid #e9ecef;
  box-sizing: border-box;
  box-shadow: 1px 6px 20px -4px rgba(17, 17, 17, 0.05);
  border-radius: 5px;

  //Text
  font-family: $mulish;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  align-items: center;
  color: $grey;
  padding-left: 15px;

  .input__transparent {
    background: red;
  }
}

.publicationDateInput[type]:disabled,
.publicationDateInput[type]:read-only {
  color: $grey6;
  background: $light-grey;
}

input[type="date"],
input[type="time"] {
  font-weight: lighter;
  font-size: 16px;
}

input[name="media"]:read-only,
input[name="production"]:read-only {
  background: #e7e9f3;
  color: $grey;
  font-family: $mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding-left: 15px;
}
