.success-message-form, .flash-success {
    color: $green;
    font-family: $mulish;
    
    .icon-message-form {
        margin-right: 5px;
    }
}

.error-message-form, .flash-error {
    color: $red;
    font-family: $mulish;
    margin-bottom: 10px;
    
    .icon-message-form {
        margin-right: 5px;
    }
}

.flash {
    margin-bottom: 15px;
}