.search-bar {
    display: flex;
    align-items: center;
    background-color: $search-bar-bg;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    border-style: solid;
    border-width: 2px;
    border-color: $transparent;
    transition: border 0.4s ease;
    margin: 5px 0;
    
    & input {
        border-style: none;
        font-size: 13px;
        background: $transparent;
        flex-basis: 100%;

        &::placeholder {
            color: $seach-bar-placeholder;
        }
    }

    & i {
        color: $search-bar-icon-color;
        margin-right: 10px;
    }

    &:focus-within {
        border-style: solid;
        border-width: 2px;
        border-color: $search-bar-icon-color;
    }

}