#sidebar {
    //code sidebar general
    background: #000D28;
    color: #A4A6B3;
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: column;
    width: 19rem;
    height: 100vh;
    transition: width 0.4s ease-out;

    // &:hover pour le hover de la sidebar
    &:hover{
        color: #FFFFFF;
    }

        #sidebar-label {
            
        }

        a{
            text-decoration: none;
            color: inherit;
            display: inline;
            transition: all 0.3s ease;
        }

                
        li {
            /* background: green; */
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 3.7rem;
            margin-left: 2rem;

                i {
                    font-size: 30px;
                }
                .icon {
                    width: 40px;
                    height: 30px;
                    margin-right: 5px;
                }
                div {
                    font-size: 16px;
                }
            }

            img{
                height: 100px;
                width: 100%;
                object-fit: scale-down;
                margin-top: 3rem;
                margin-left: -1rem;
                
               
                
            }

        hr {
            background-color: grey;
            height: 1px;
            flex: auto;
            text-decoration: none;
            border-style: none;
        }
}


#sidebar li div.grow-separator {
    flex: auto;
}



/* Ligne du boutton */
#sidebar li:nth-child(2) {
    justify-content: flex-end;
    padding: 1rem 0;
}

#sidebar #cta-toggle-sidebar {
    background: #f1f1f1;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.3s ease;
}

#sidebar #cta-toggle-sidebar:hover {
    filter: brightness(85%);
}

#sidebar #cta-toggle-sidebar i {
    color: grey;
    transition: ease-out 0.4s;
}


/* Les autres liens de la nav */
#sidebar li div:not(#cta-toggle-sidebar) {
    /* background: yellow; */
    transition: transform 0.3s ease, 
                opacity 0.3s ease-out;
}



/* WRAPPED */
#sidebar.wrapped {
    width: 6rem;
}

#sidebar.wrapped li div:not(#cta-toggle-sidebar) {
    /* background: yellow; */
    transform: translateX(-300%);
    opacity: 0;
}

#sidebar.wrapped li div:not(#cta-toggle-sidebar) i {
    /* background: yellow; */
    align-self: center;
}

#sidebar.wrapped li #cta-toggle-sidebar i {
    transform: rotate(180deg);
}





/* HOVERS */
#sidebar li:not(:first-child):not(:nth-child(2)):not(:nth-child(10)):hover {
    background: #9FA2B4; /* voir le layer sur figma 8% ? */
    transition: background 0.3s ease-out;
    cursor: pointer;
    
}

