#sidebar {
    height: 100%;
    width: $sidebarFullWidth;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    background: #000D28;
    color: #A4A6B3;
    font-family: 'Mulish', sans-serif;
    transition-duration: 0.4s;
    transition-timing-function: ease;

    a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        height: 3.7rem;

        &:not(.brandLogo):hover {
            background-color: $purple;
            color: #DDE2FF;
        }

        &.brandLogo {
            height: 100px;
            margin-bottom: 20px;
            margin-top: 20px;
            img {
                width: 100%;
                max-height: 100%;
                margin-left: auto;
                margin-right: auto;
                object-fit: scale-down;
            }
        }

        i {
            margin-left: 1.8rem;
            margin-right: 15px;
            font-size: 30px;
        }
    }

    &.wrapped {
        width: $sidebarWrappedWidth;

        & #cta-toggle-sidebar i {
            transform: rotate(180deg);
        }
    }

    #cta-toggle-sidebar {
        position: absolute;
        right: -10px;
        top: 90px;
        background: #f1f1f1;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: 1px solid #5F2EEA;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            filter: brightness(85%);
        }

        i {
            color: grey;
        }
    }
}
