.label-card-1 {
    font-family: $mulish;
    display: inline;
    font-size: 18px;
    font-weight: bold;
    color: $title-card-color;
}

.label-card-2 {
    font-family: $mulish;
    display: inline;
    font-size: 16px;
    font-weight: bold;
    color: $title-card-2-color;
}