RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . /index.php

# Transfert 404 and 403 to 404 page view
ErrorDocument 404 /404.view.php
ErrorDocument 403 /404.view.php

# Forbidden sensitives files inside root folder
RedirectMatch 403 /.env
RedirectMatch 403 .yml*$
RedirectMatch 403 .sql*$
RedirectMatch 403 .json*$
RedirectMatch 403 .mix.js*$
RedirectMatch 403 Autoload.php

# Forbidden sensitive folders
RedirectMatch 403 ^/Controllers/.*$
RedirectMatch 403 ^/_scripts/.*$
RedirectMatch 403 ^/Core/.*$
RedirectMatch 403 ^/Middlewares/.*$
RedirectMatch 403 ^/Models/.*$
RedirectMatch 403 ^/node_modules/.*$
# /dist open
# /src open
RedirectMatch 403 ^/Views/.*$

# Desactivate indexation of the directories
Options -Indexes