
RewriteEngine On 

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule .env [B,PT]
RewriteRule . /index.php





#<Files ~ "\.yml">
#Order Allow,Deny
#Deny from All
#</Files>
#
#<Files ~ "\.json">
#Order Allow,Deny
#Deny from All
#</Files>
##
#
#
##404
#ErrorDocument 404 /Views/front/404.view.php
#
#RedirectMatch 404 /\..*$
#RedirectMatch 404 /\



