.navbarBackground { background-color: #1557e5; }
.navbarColor { color: #a30000; }
.footerBackground { background-color: #000d28; }
.footerColor { color: #000d28; }
.titleColor { color: #000d28; }
.tagsBackground { background-color: #5f2eea; }
.tagsColor { color: #ffffff; }
.fontFamily { font-family: tahoma, sans-serif; }
.customHeight { line-height: 1.6; }
