.navbarBackground { background-color: #000d28; }
.navbarColor { color: #f5f5f5; }
.footerBackground { background-color: #000d28; }
.footerColor { color: #f5f5f5; }
.titleColor { color: #000000; }
.tagsBackground { background-color: #5f2eea; }
.tagsColor { color: #f5f5f5; }
.fontFamily { font-family: mulish, sans-serif; }
