*{
	box-sizing: border-box;
}

body{
	margin: 0;
	background-color: $light-grey;
	font-family: $font1;
}

h1,h2{
	font-family: $font2;
}

h1{
	font-size: rem(24);
}

h2{
	font-size: rem(16);
}

.container{
	max-width: 1140px;
	margin: auto;
	& > section{
		padding: 20px 0;
	}
}


p{
	line-height: 1.4em;
}