/*
    Permet de ne pas réecrire betement la meme chose tout le temps.
    Optimise le CSS en groupant les items avec le meme placeHolder

    utilisation en SCSS : @extend nomDuPlaceHolder
 */

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%absolute-preset {
  content: "";
  position: absolute;
  display: block;
}

%absolute-center {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
