// Teacher's course code
// Let this as it is in order to not breack the components made with these variable.
// TODO :  Apply our style instead of the default styles here.

$white: #FFF;
$grey: #AAA;
$light-grey: #F2F2F2;
$dark-grey: #444;
$red: #ce0a0a;
$green: #31aa66;

$phone-width: 800px;



// OUR CODE :

$main-bg-color: #E5E5E5;

$profile-picture-border: #DFE0EB;
$card-border: $profile-picture-border;

$main-font-color: #252733;

$notification-icon: #C5C7CD;
