// Global
@import "variables";
@import "fonts";
@import "functions";
@import "globals";
@import "placeholders";

// Grids
@import "layouts/containers";
@import "layouts/grid_modify_article";
@import "layouts/grid-create-article";
@import "layouts/productions";
@import "layouts/install";
@import "layouts/login_subscription";
@import "layouts/dashboard";
@import "layouts/medias";
@import "layouts/settings";

// Components
@import "components/button";
@import "components/banner";
@import "components/slider";
@import "components/sidebar";
@import "components/sidebar-front";
@import "components/header";
@import "components/card";
@import "components/filter-tag";
@import "components/search-bar";
@import "components/titles";
@import "components/input";
@import "components/select";
@import "components/radio";
@import "components/collection-item";
@import "components/tag";
@import "components/item-navgation";
@import "components/datatable";
@import "components/filtering-status";
@import "components/bubble-actions";
@import "components/state-switch";
@import "components/modal";
@import "components/request-response";

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

#main {
  margin-left: $sidebarFullWidth;
  padding-left: 30px;
  padding-right: 30px;
  transition: margin 0.4s;

  &.sidebarWrapped {
    margin-left: $sidebarWrappedWidth;
  }
}

html body .debug {
  z-index: 1000;
  background: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
